{% extends 'base.html' %}
{% block content %}
    <table class="table table-success table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">id</th>
            <th scope="col">Total price</th>
            <th scope="col">Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ order.id }}</td>
                <td>{{ order.get_total_price }}</td>
                <td><a href="{% url 'orders:order_remove' order.id %}">remove</a></td>
                <td><a href="{% url 'orders:order_detail' order.id %}">detail</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}