{% extends 'base.html' %}
{% block content %}
    <table class="table table-success table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit price</th>
            <th scope="col">Total price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.product }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.get_cost }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td colspan="3"></td>
            <td>{{ order.get_total_price }}</td>
        </tr>

        </tbody>
    </table>
    <form action="{% url 'orders:apply_code' order.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="apply code">
    </form>
{% endblock %}